# === Next.js / Node ===
node_modules/
.next/
out/                # if you're doing next export
npm-debug.log*
yarn-error.log*
.DS_Store

# Env vars (local development)
.env.local
.env.development.local
.env.test.local
.env.production.local

# VS Code / Editor
.vscode/
.idea/

# === Terraform / Infrastructure ===
# ignore state and crash logs
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/.terraform/
infrastructure/crash.log
infrastructure/override.tf
infrastructure/override.tf.json
infrastructure/*.tfvars

# Misc
dist/
build/
